---

import "../styles/global.css";
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';

interface Props {
  title: string
  description: string
}

const {description, title} = Astro.props
---


<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/IconLogo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 bg-slate-900 "></div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root{
		color-scheme: normal;
	}
	html{
		font-family: 'Onest Variable', sans-serif;
	}

	body{
		background: white;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
